<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.segotech.ipetchat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.richitec.commontoolkit.CTApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="65ee563ce917e56030f840fb022b96f4" />

        <activity
            android:name=".IPetChatAppLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLaunchTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.AccountSetting4FirstActivity"
            android:label="@string/title_activity_account_setting4first"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountLoginActivity"
            android:label="@string/title_activity_account_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountRetrievePwdActivity"
            android:label="@string/title_activity_account_retrieve_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountRegisterActivity"
            android:label="@string/title_activity_account_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100585565" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".tab7tabcontent.IPetChatTabActivity"
            android:label="@string/title_activity_ipet_chat_tab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.HomeTabContentActivity"
            android:label="@string/title_activity_home_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.PetLocationActivity"
            android:label="@string/title_activity_pet_location"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tab7tabcontent.SportsHealthTabContentActivity"
            android:label="@string/title_activity_sports_health_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.CommunityTabContentActivity"
            android:label="@string/title_activity_community_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.SettingsTabContentActivity"
            android:label="@string/title_activity_settings_tab_content" >
        </activity>
        <activity
            android:name=".petcommunity.PetStarsActivity"
            android:label="@string/title_activity_pet_stars"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".petcommunity.PetsNearbyActivity"
            android:label="@string/title_activity_pets_nearby"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".petcommunity.MyConcernActivity"
            android:label="@string/title_activity_my_concern"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".petcommunity.AddConcernPetActivity"
            android:label="@string/title_activity_add_concern_pet"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".petcommunity.PetDetailInfoActivity"
            android:label="@string/title_activity_pet_detail_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.photo.PetPhotoAlbumActivity"
            android:label="@string/title_activity_pet_photo_album"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".petcommunity.MessageboxActivity"
            android:label="@string/title_activity_messagebox"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".petcommunity.petchat.Leave6ReplyMsgActivity"
            android:label="@string/title_activity_leave6reply_msg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.PetProfileSettingActivity"
            android:label="@string/title_activity_pet_profile_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.profile.PetProfileEditTextSettingActivity"
            android:label="@string/title_activity_pet_profile_edittext_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.profile.PetProfileCheckedSettingActivity"
            android:label="@string/title_activity_pet_profile_checked_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.profile.PetProfileBirthdaySettingActivity"
            android:label="@string/title_activity_pet_profile_birthday_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.profile.PetProfileDistrictSettingActivity"
            android:label="@string/title_activity_pet_profile_district_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.profile.PetProfileDistrictSelectedSettingActivity"
            android:label="@string/title_activity_pet_profile_district_selected_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.PetPhotosSettingActivity"
            android:label="@string/title_activity_pet_photos_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.photo.UploadPetPhotoActivity"
            android:label="@string/title_activity_upload_pet_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.photo.PetPhotosActivity"
            android:label="@string/title_activity_pet_photos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.AccountInfoSettingActivity"
            android:label="@string/title_activity_account_info_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountModifyPwdActivity"
            android:label="@string/title_activity_account_modify_pwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".petcommunity.BlackListActivity"
            android:label="@string/title_activity_blacklist"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.PetDeviceBindActivity"
            android:label="@string/title_activity_pet_device_bind"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".account.AccountSetting4SwitchActivity"
            android:label="@string/title_activity_account_setting4_switch" >
        </activity>
    </application>

</manifest>