<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.segotech.ipetchat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.richitec.commontoolkit.CTApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="65ee563ce917e56030f840fb022b96f4" />

        <activity
            android:name=".IPetChatAppLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppLaunchTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.AccountSetting4FirstActivity"
            android:label="@string/title_activity_account_setting4_first" >
        </activity>
        <activity
            android:name=".account.AccountLoginActivity"
            android:label="@string/title_activity_account_login" >
        </activity>
        <activity
            android:name=".account.AccountRegisterActivity"
            android:label="@string/title_activity_account_register" >
        </activity>
        <activity
            android:name=".tab7tabcontent.IPetChatTabActivity"
            android:label="@string/title_activity_ipet_chat_tab"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".tab7tabcontent.HomeTabContentActivity"
            android:label="@string/title_activity_home_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.SportsHealthTabContentActivity"
            android:label="@string/title_activity_sports_health_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.CommunityTabContentActivity"
            android:label="@string/title_activity_community_tab_content" >
        </activity>
        <activity
            android:name=".tab7tabcontent.SettingsTabContentActivity"
            android:label="@string/title_activity_settings_tab_content" >
        </activity>
        <activity
            android:name=".petcommunity.PetStarsActivity"
            android:label="@string/title_activity_pet_stars" >
        </activity>
        <activity
            android:name=".petcommunity.PetsNearbyActivity"
            android:label="@string/title_activity_pets_nearby" >
        </activity>
        <activity
            android:name=".petcommunity.MyConcernActivity"
            android:label="@string/title_activity_my_concern" >
        </activity>
        <activity
            android:name=".petcommunity.MessageboxActivity"
            android:label="@string/title_activity_messagebox" >
        </activity>
        <activity
            android:name=".settings.PetProfileSettingActivity"
            android:label="@string/title_activity_pet_profile_setting" >
        </activity>
        <activity
            android:name=".settings.PetPhotosSettingActivity"
            android:label="@string/title_activity_pet_photos_setting" >
        </activity>
        <activity
            android:name=".settings.AccountInfoSettingActivity"
            android:label="@string/title_activity_account_info_setting" >
        </activity>
        <activity
            android:name=".petcommunity.BlackListActivity"
            android:label="@string/title_activity_blacklist" >
        </activity>
        <activity
            android:name=".settings.PetDeviceBindActivity"
            android:label="@string/title_activity_pet_device_bind" >
        </activity>
        <activity
            android:name=".account.AccountSetting4SwitchActivity"
            android:label="@string/title_activity_account_setting4_switch" >
        </activity>
        <activity
            android:name=".account.AccountResetPWDActivity"
            android:label="@string/title_activity_account_reset_pwd" >
        </activity>
    </application>

</manifest>
